:root {
  --tomato-color: rgba(255, 99, 71, 0.5);
  --darkAzure-color: #0088cc;
}

/* внешняя обертка */
.wrapper {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-style: normal;
}

/* размер viewport */
.vt-w1 {
  width: 100%;
}

/* фоновый цвет */
.bgc-1 {
  background: var(--beige100-color);
}