.search__item {
  width: 100%;
  height: auto;
  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 8px 8px 0 0;
  outline: none;
  transition: background-color 0.3s ease;
}

.search__item:hover,
.filtering__select:hover {
  background-color: var(--white-color);
}

.search__item,
.filtering__select {
  box-sizing: border-box;
  padding: 6px;
}

.counters {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGrey2-color);
}

.counters__tasks {
  display: flex;
  padding: 6px 6px 0 6px;
}

.counters__tasks span:not(:last-child) {
  margin-right: 5px;
}

.counters__indicator {
  position: relative;
  width: 70%;
  height: 40px;
  padding-right: 6px;
  padding-left: 6px;
  text-align: end;
}

.counters__indicator::after {
  position: absolute;
  top: 26%;
  width: 30%;
  padding-right: 6px;
  padding-left: 6px;
  content: 'Индикатор';
}

.filtering {
  display: flex;
  flex-direction: column;
  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 0 0 8px 8px;
}

.filtering__text {
  padding-left: 6px;
}

.filtering__select {
  padding-right: 25px;
  color: var(--dimgray-color);
  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 0px 0px 8px 8px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filtering {
  position: relative;
}

.filtering::after {
  position: absolute;
  top: 67%;
  right: 8px;
  width: 15px;
  height: 15px;
  background-image: url('../../dist/images/VectorDown.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
  content: '';
}

.filtering__select:hover {
  cursor: pointer;
}

.filtering__select:active {
  box-shadow: 0 0 10px var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
}