/* _____control */
/* ___search */
.search__item {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  border: 1px solid var(--lightGrey2-color);
  /* убираем жирный бордер при клике */
  outline: none;
  background-color: var(--lightGrey2-color);
  transition: background-color 0.3s ease;
}

.search__item:hover,
.filtering__select:hover {
  background-color: var(--white-color);
}

.search__item,
.filtering__select {
  box-sizing: border-box;
  padding: 6px;
}

/* ___counters */
.counters {
  background-color: var(--lightGrey2-color);
  display: flex;
  flex-direction: column;
}

.counters__tasks {
  padding: 6px 6px 0 6px;
  display: flex;
}

.counters__tasks span:not(:last-child) {
  margin-right: 5px;
}

.counters__indicator {
  width: 100%;
  height: 40px;
  padding-right: 6px;
  padding-left: 6px;
}

/* ___filtering */
.filtering {
  border: 1px solid var(--lightGrey2-color);
  border-radius: 0 0 8px 8px;
  background-color: var(--lightGrey2-color);
  display: flex;
  flex-direction: column;
}

.filtering__text {
  padding-left: 6px;
}

.filtering__select {
  /* чтобы текст не залезал на стрелку для развертывания списка */
  padding-right: 25px;
  border: 1px solid var(--lightGrey2-color);
  border-radius: 0px 0px 8px 8px;
  /* убираем жирный бордер при клике */
  outline: none;
  background-color: var(--lightGrey2-color);
  color: var(--dimgray-color);
  /* уберем стрелку у select */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none для сброса системных стилей */
  appearance: none;
}

.filtering {
  /* чтобы стрелка оказалась в границах select */
  position: relative;
}

.filtering::after {
  content: '';
  position: absolute;
  /* отступ 67% от верхней границе*/
  top: 67%;
  /* отступ справа от границе*/
  right: 8px;
  height: 15px;
  width: 15px;
  background-image: url('../../dist/images/VectorDown.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  /* Свойство pointer-events определяет, 
  как HTML-элемент реагирует на различные события мыши,
  т.е. мы делаем элемент прозрачным для клика и 
  клик происходит как бы за этим элементов */
  pointer-events: none;
}

.filtering__select:hover {
  cursor: pointer;
}

.filtering__select:active {
  border: 1px solid var(--lightGrey2-color);
  box-shadow: 0 0 10px var(--lightGrey2-color);
}