.entering-task__textarea-item {
  box-sizing: border-box;
  width: 100%;
  height: 290px;
  padding: 6px;
  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s ease;
  resize: none;
}

.entering-task__textarea-item::placeholder {
  font-size: 20px;
  font-weight: 200;
  font-style: oblique;
}

.entering-task__textarea-item:hover {
  background-color: var(--white-color);
}

.entering-task__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.entering-task__button-adding,
.entering-task__button-mark,
.entering-task__button-clearing {
  width: 30%;
  padding: 10px;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--lightGrey-color);
  border: 1px solid var(--lightGrey-color);
  border-radius: 8px;
  transition:
    font-weight 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;
}

.edit-w2 {
  width: 100%;
}

.entering-task__button-adding:hover,
.entering-task__button-mark:hover,
.entering-task__button-clearing:hover {
  color: var(--white-color);
  background-color: var(--mapleGreen-color);
  border: 1px solid var(--mapleGreen-color);
  cursor: pointer;
}

.entering-task__button-adding:active,
.entering-task__button-mark:active,
.entering-task__button-clearing:active {
  color: var(--lightGrey-color);
  background-color: var(--emeraldGreen-color);
  border: 1px solid var(--emeraldGreen-color);
}