.mainContent {
  height: auto;
  padding: 20px 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-image: url('../assets/images/1.51bird.svg');
  background-repeat: no-repeat;
  background-size: 170%;
  opacity: 0.8;

  border: 4px solid var(--darkAzure-color);
  border-radius: 20px;
}

.control,
.enteringNotes,
.outputNotes {
  width: 478px;
  align-self: stretch;
  padding: 0px 10px;
}

/* полоса прокрутки */
.enteringNotes__textarea-item::-webkit-scrollbar,
.outputNotes__list::-webkit-scrollbar {
  /* ширина scrollbar */
  width: 12px;
}

/* полоса прокрутки (трек) */
.enteringNotes__textarea-item::-webkit-scrollbar-track,
.outputNotes__list::-webkit-scrollbar-track {
  /* цвет дорожки */
  border: 1px solid var(--lightGrey2-color);
  border-radius: 8px;
  background-color: var(--lightGrey2-color);
}

/* полоса прокрутки (ползунок) */
.enteringNotes__textarea-item::-webkit-scrollbar-thumb,
.outputNotes__list::-webkit-scrollbar-thumb {
  border: 1px solid var(--lightGrey-color);
  background-color: var(--lightGrey-color);
  border-radius: 8px;
}

.enteringNotes__textarea-item::-webkit-scrollbar-thumb:hover,
.outputNotes__list::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--mapleGreen-color);
  background-color: var(--mapleGreen-color);
  cursor: pointer;
}

.enteringNotes__textarea-item::-webkit-scrollbar-thumb:active,
.outputNotes__list::-webkit-scrollbar-thumb:active {
  border: 1px solid var(--emeraldGreen-color);
  background-color: var(--emeraldGreen-color);
}