/* ___________@media-директива_____________________________________ */
/*от0px-до1023px___________________________________________________*/
@media (max-width: 1023px) {
  .wrapper {
    font-size: 16px;
  }

  .heading__title {
    font-size: 60px;
  }

  .mainContent {
    background-size: cover;
  }

  .control,
  .enteringTask,
  .outputTask {
    max-width: 600px;
    margin: auto;
  }

  .enteringTask {
    margin-top: 100px;
  }

  .enteringTask__textarea-item {
    height: 100px;
  }

  .outputTask {
    margin-top: 10px;
  }

  .enteringTask__buttons-itemMark,
  .enteringTask__buttons-itemClearing {
    background-size: 20px 20px;
  }

  .outputTask__list {
    max-height: 250px;
  }

  .footers__linkContainer {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footers__link {
    justify-content: center;
  }

  .footers__link-text {
    display: none;
  }

  .footers__link-socialNetwork-block {
    display: flex;
    align-items: center;
    flex-direction: column;

  }
}