@media (max-width: 1023px) {
  .wrapper {
    font-size: 16px;
  }

  .heading__title {
    font-size: 60px;
  }

  .main-content {
    background-size: cover;
  }

  .control,
  .entering-task,
  .output-task {
    max-width: 600px;
    margin: auto;
  }

  .entering-task {
    margin-top: 100px;
  }

  .entering-task__textarea-item {
    height: 100px;
  }

  .output-task {
    margin-top: 10px;
  }

  .entering-task__button-mark,
  .entering-task__button-clearing {
    background-size: 20px 20px;
  }

  .output-task__list {
    max-height: 250px;
  }

  .footers__container {
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .footers__text {
    display: none;
  }

  .footers__link-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .entering-task__button-clearing {
    width: 33%;
  }

  .output-task__list-item-block1,
  .output-task__list-item-block2 {
    margin-left: 10px;
  }

  .output-task__list-item-block2-remove {
    display: block;
    padding: 6px 10px;
    font-weight: 900;
  }

  .output-task__list-item-block1-checkbox[type=checkbox] {
    margin: 5px 10px;
  }
}