/* _____outputTask */
.outputTask__list {
  overflow: auto;

  min-height: 0px;
  max-height: 320px;
  margin: 0;
  padding: 0;

  border-radius: 10px;
}

.outputTask__list-item {
  box-sizing: border-box;
  margin: 0px;
  margin-right: auto;
  padding: 6px;
  opacity: 0.8;

  background-color: var(--lightGrey2-color);
  border: 1px solid var(--lightGrey2-color);
  border-radius: 8px;
}

/* выбрать все элементы кроме первого */
.outputTask__list-item:not(:first-child) {
  margin-top: 10px;
}

.outputTask__list-item-block1,
.outputTask__list-item-block2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outputTask__list-item-block1-text {
  /* заданная ширина блока */
  max-width: 96%;

  font-size: 16px;
  font-weight: 500;
  /*автоматический перенос текста, чтобы текс 
    поместился в заданную ширину блока*/
  word-wrap: break-word;
  color: var(--black-color);
}

.outputTask__list-item-block1-checkbox[type=checkbox] {
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.outputTask__list-item-block2-date {
  display: flex;
  justify-content: left;

  margin-top: 10px;

  font-size: 13px;
  font-weight: 600;

  color: var(--black-color);
}

.outputTask__list-item-block2-remove {
  display: none;
}

/* при наведении на элемент <li> меняем стиль для элемента <span> */
.outputTask__list-item:hover .outputTask__list-item-block2-remove {
  display: flex;
  justify-content: right;

  font-size: 18px;
  font-weight: 900;

  color: var(--tomato-color);
  cursor: pointer;
}